<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= DASHBOARD -%></title>
</head>
<body>
    <img src="public/icon48.png" alt="fix logo"/>

    <h1 id="caption">WELCOME</h1><strong>"Point",</strong>THE GREATEST TASK MANAGEMENT PLATFORM</h1><br><br><br>
<a id="anchor" href="/login">Login</a> to <strong>fix</strong>
<p>
    send us a mail &rBarr;
    <a href="mailto: ifeomaugwu@gmail.com"
    ><img id="gmail" src="../public/gmail image.jfif" alt="gmail image"
    /></a>
</p>
</div>
</body>
    </html>